/*

filename: [Lab04.css]

author: [AMIRUL AFIF BIN MOHD SYAHKIRIN]

created: [3/9/25]

last modified: [14/9/25]

description: [html files it refers to lab04.html]

*/

/* Step 3: Create a CSS Rule */
h1 { 
    color: purple; 
    font-size: 2em; 
    font-weight: bold; 
}

/* Element selectors */
* { 
    font-family: calibri, sans-serif; 
    color: #2F4F4F; /* Set default color for all elements */
}

/* Heading 2 styles */
h2 {
    color: rgb(0,128,128);
    font-weight: bold;
    font-size: 1.5em;
}

/* Group selectors */
aside, footer { 
    font-style: italic; 
}

/* All heading elements */
h1, h2, h3 {
    font-family: arial, sans-serif;
}

/* Table borders */
table {
    border: 1px solid black;
}

/* Apply borders to table cells too */
table, th, td {
    border: 1px solid black;
}

/* ID selectors */
#images {
    text-align: center;
}

/* Add your own ID for the h3 Headings element */
#headings {
    color: red;
}

/* Class selectors */
.special {
    color: darkorange;
    font-weight: bold;
}

/* Create a class for right-aligning table headings */
.right-align {
    text-align: right;
}

/* Contextual selectors */
nav a {
    text-decoration: none;
    padding: 0.2em 0.6em;
    border: 4px solid #ccc;
}

/* Nested unordered lists within ordered lists */
ol ul {
    list-style-type: square;
}

/* Pseudo classes */
aside:hover {
    display: none;
}

/* Hover effect for menu items */
nav a:hover {
    background-color: lightblue;
    border-color: darkblue;
}